
<h1>All Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= link_to product.title, product_path(product) %></strong><br>
      Description: <%= product.description %><br>
      Price: $<%= product.price %><br>
      Stock: <%= product.stock_quantity %><br>
      Category: <%= product.category.name if product.category %><br><br>
    </li>
  <% end %>
</ul>